
@font-face {
	font-family: "nsB";
   
    src: 
         url(fonts/NanumSquareB.woff) format("woff"), /* Mordern Browsers */
         url(fonts/NanumSquareB.ttf) format("truetype"); /* If not support woff */
    font-weight: bold;
    font-style: normal;
}
